@font-face {
  font-family: montSerrat;
  src: url("../font/Montserrat-Regular.ttf");
  
} 

*{
  font-family: montSerrat;
}

a{
  text-decoration:none!important;
}

body{
  height: 100vh;
  margin: 0;
}

#burgerSectionDroite{
  background-image: url("../img/toa-heftiba-FV3GConVSss-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  animation: loading-slide 10s linear infinite alternate;
 }


 #burgerSectionGauche,#burgerSectionDroite{
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;

}

#burgerSectionDroite > div:nth-child(1){
  mix-blend-mode: multiply; 
  background:rgb(0, 0, 0);
  height: 60%;
 }

 #burgerSectionDroite > div:nth-child(2){
  height: 40%;
  background-color: black;
 }

 #burgerSectionDroite > div:nth-child(2) > p{
  font-size: 2.5vmin;
  padding:0 3vmin
 }

 #burgerSectionDroite > div:nth-child(2) > div:nth-child(2){
  height: 0.2vmin;
  width: 15vmin;
  margin: 2vmin 0;

 }

 #burgerSectionDroite > div:nth-child(2) > div:nth-child(3){
  font-size: 1.5vmin;
 }

 
 #burgerSectionGauche.open,#burgerSectionDroite.open{
   transform: translateY(0)!important;
   transition: all 0.5s ease-out;
 }

 .titreSectionDroite{
   font-size: 10vmin;
 }

 @keyframes loading-slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
#menuBurgerDesktop{
  height: 100vh;
  top:0;
  width: 100%;
  z-index: -1;
}

.childBurger{
  margin: 3vmin 0 3vmin 0!important;
}

.cd__digit {
	width: 1ch;
	z-index: -1;
  position: relative;
}

.digits{
  display: flex;
  justify-content: center;
  height: 6vmin;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 1.5vmin!important;
  z-index: 3;
}
.digitAdresse{
  height:3.2vmin!important
}

.reseauAccueil{
  transition: transform 0.5s ease-out;
  font-size:3.5vmin
}



.digitsReseau{
  display: flex;
  justify-content: center;
  height: 7vmin;
  padding: 0 2vmin;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
}

.arrowBurger{
  transform: translateX(-4.5vmin);
  letter-spacing: 2vmin;
  transition: transform 0.3s linear;
  
  opacity: 0;
  transition: opacity 0.5s linear;
}

.ancreBurger, .lien{
  cursor: pointer;
}


.ancreBurger:hover .arrowBurger{
  opacity: 1;
  transform: translateX(0px);
  transition: transform 0.3s linear;
  transition: opacity 0.5s linear;
}


.ancreBurger{
  transform: translateX(-7.80vmin);
  transition: transform 0.3s linear;
 
}

.ancreBurger:hover{
  transform: translateX(2vmin);
  transition: all 0.3s linear;
}


.unit{
  font-size: 6vmin;
	line-height: 3;
	width: 3ch;
  transition: all 0.5s ease-in;
}

.unit.apparition{
  line-height: 1;
  transition: line-height 0.5s ease-in;
  transition-delay: 0.5s;
}

.burger {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  border: none;
  position: fixed;
  cursor: pointer;
  top:0%;
  right:0%;
  z-index: 3!important;
  height: 6vmin;
  width: 7vmin;
  padding: 0 4vmin;
}

.burger span {
  width: 5vmin;
  height: 0.5vmin;
  background-color: rgb(0, 0, 0);
  border-radius: 15vmin;
}

.burger span:nth-child(1) {
  top: 0;
  transform: translateX(0%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger span:nth-child(2) {
  top: 1.2vmin;
  opacity: 1;
  transform: translateX(0%);
  margin:0.8vmin 0!important
}

.burger span:last-child {
  top: 2.4vmin;
  transform: translateX(0%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger.open span:nth-child(1) {
  top: 50%;
  transform: translateX(0%) translateY(250%) rotate(45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:last-child {
  top: 50%;
  transform: translateX(0%) translateY(-250%) rotate(-45deg);
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}



.divChargement0{
    animation: chargementDiv 0.4s linear forwards;
   
  }
  
  .divChargement1{
    animation: chargementDiv 0.4s linear forwards;
    animation-delay: 0.4s;
  }
  
  .divChargement2{
    animation: chargementDiv 0.4s linear forwards;
    animation-delay: 0.8s;
  }
  @keyframes chargementDiv {
    from{
      width: 100%;
    }
  
    to{
      width: 0%;
    }
  }

  .digitContact{
    font-size: 3.2vmin!important;
  }

  .divChargementDepart0{
    animation: chargementDive 0.3s linear forwards;
  }
  
  .divChargementDepart1{
    animation: chargementDive 0.3s linear forwards;
    animation-delay: 0.2s;
  }
  
  .divChargementDepart2{
    animation: chargementDive 0.3s linear forwards;
    animation-delay: 0.5s;
  }
  @keyframes chargementDive {
    from{
      width: 0;
    }
  
    to{
      width: 100%;
    }
  }

  #divId{
    width: 100%; 
    height: 33.35vh; 
    background-color: black; 
    position: absolute; 
    z-index: 4;
    overflow: hidden;
    text-overflow: ellipsis ellipsis!important;
  }
  
  .divIdDepart{
    width: 0%;
     height: 33.35vh;
      background-color:black; 
       position:fixed; 
        z-index: 4;
  }
  
  
  
  aside > div:nth-child(1){
    top: 0;
  }
  
  aside > div:nth-child(2){
    top: 33.35%;
  }
  
  aside > div:nth-child(3){
    top: 66.70%;
  }

  section{
    display: flex;
    overflow: hidden;
  }

.slideContainer2>div:nth-child(2n){
  background-color: #101010;
  padding: 0 13vmin;
  color: white;
}

.box, .box2{
  width: 100%;
    height:100%;
    background-size: cover;
}



.slideContainer2>div:nth-child(3){
  background-image: url("../img/prestationRefonte.webp");
}

.slideContainer2>div:nth-child(5){
  background-image: url("../img/prestationCommerce.webp");
}



.slideContainer1,.slideContainer2{
  width: 50%;
  height: 100vh;
  will-change: transform!important; 
}

.slideContainer1>div:nth-child(1){
  background-image: url("../img/prestationOptimisation.webp");
  background-position-y: 100%;
}

.slideContainer1>div:nth-child(2){
  background-color: rgb(255, 255, 255);
  background-position-y: 10%
}

.slideContainer1>div:nth-child(3){
  background-image: url("../img/prestationVitrine.webp");
}
.slideContainer1>div:nth-child(4){
  background-color: rgb(255, 255, 255);
  padding: 0 13vmin;
}
.slideContainer1>div:nth-child(5){
  background-image: url("../img/prestationGraphisme.webp");
  background-position-x: 60% ;
}
.slideContainer1>div:nth-child(6){
  background-color: rgb(255, 255, 255);
  padding: 0 13vmin;
}
.slideContainer1>div:nth-child(7){
  background-image: url("../img/prestationOptimisation.webp");
  background-position-y: 100%;
}

.slideContainer1>div:nth-child(8){
  background-color: rgb(255, 255, 255);
}

.box2 > h3, .box>h3{
  font-size: 10vmin;
}

.box2 > p, .box > p {
  font-size: 2.7vmin;
  margin-top: 4vmin;
}

.pad{
  padding: 0 13vmin;
}

.nom,.nomPage{
  font-size: 10vmin;
  color: white;
  font-weight: bold;
white-space: nowrap!important;
}

.titrePrincipale{
  font-size: 12vmin;
  font-weight: bold;
  z-index: 1;
}

.margTitle{
  margin-bottom: 15.2vmin!important;
}

.margeTitle{
  margin-bottom: -6.9vmin!important;
}

.paraPresta{
  padding: 7vmin 10vmin;
  font-size: 1.7vmin;
}

.imgPresta{
  width: 17%;
  position: absolute;

}



.box>.imgPresta:nth-child(2){
  top:70%;
  right:3%;
  transition: transform 0.2s linear;
  
}

.box>.imgPresta:nth-child(3){
  top:50%;
  left:48%;
  transition: transform 0.4s linear;
}

.box>.imgPresta:nth-child(4){
  top:10%;
  left:37%;
  transition: transform 0.6s linear;
}

.box2>.imgPresta:nth-child(5){
  top:50%;
  left:30%;
  transition: transform 0.8s linear;
}

.box2>.imgPresta:nth-child(3){
  top:20%;
  left:50%;
  transition: transform 0.5s linear;
}

.box2>.imgPresta:nth-child(4){
  top:20%;
  left:3%;
  transition: transform 1s linear;
}


@media (max-width: 575.98px) {

  .mobileSec{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    height: /*calc(var(--vh, 1vh) * 100)*/ 100vh;
  }

  .ligne{
    width: 80%;
    height: 0.5vmin;
    background-color: white;
    margin-top: 3vmin;
    
    
  }

  .blockMob{
    width: 70vmin;
    height: 100vmin;
    background-color: violet;
    margin-right: 10.2vmin;
    border-radius: 10vmin;
    transition: all 0.1s linear;
    position:initial
  }


  .second{
    display: none;
  }

  .autre{
    display: flex;
  }

  .contenu{
    position: static;
    z-index: 30;
    height: 100vh;
    width: 101vw;
    border-radius: 0;
    transition: all 0.1s linear;
  }



  .parentBlock{
    width: 70vmin;
    height: 100vmin;
    margin-bottom: 14vmin;
    position:absolute;
 top:45vmin;
  left: 15vmin;
   
  }


  .parentContenu{
    top:0!important;
    left:0;
    transition: all 0.1s linear!important;
  }

  .contenuMarge{
    top: 45vmin;
    left:15vmin;
    transition: all 0.1s linear!important;
  }

  .propriete{
    display: flex;
  }



  .affichProp{
    display: none;
  }
}